/node_modules/
/.vs/
/.vscode/
/target/
/logs/
/dist/
/Imagens Launcher/
*.log
.env
.env.*
*.pem
*.key
/midgard-skiprp-mod/.gradle/
/midgard-skiprp-mod/build/
/midgard-skiprp-mod/gradle/
/midgard-skiprp-mod/gradlew
/midgard-skiprp-mod/gradlew.bat
/midgard-badge-mod/.gradle/
/midgard-badge-mod/build/
/midgard-badge-mod/gradle/
/midgard-badge-mod/gradlew
/midgard-badge-mod/gradlew.bat
node_modules/
dist/
*.local.json
app/assets/protected/
build/
.gradle/
.env
